<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.7.2" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net471" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net471" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net471" />
  <package id="Selenium.PhantomJS.WebDriver" version="2.1.1" targetFramework="net471" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver.ChromeDriver" version="83.0.4103.3900" targetFramework="net471" />
  <package id="Selenium.WebDriver.PhantomJS.Xplatform" version="2.45.0.1" targetFramework="net471" />
  <package id="System.Runtime.Caching" version="4.7.0" targetFramework="net471" />
</packages>